.modalHeight {
  min-height: 400px;
}

.chatInput {
  height: 50px;
  border: none;
  width: 50%;
  padding: 5px;
}

.chatInput:focus {
  border: none;
  outline: none;
  color: white;
}
.userFooter {
  display: flex;
  justify-content: space-evenly !important;
}

.userModalBody {
  max-height: calc(100vh - 250px);
  overflow-y: auto;
}
