.funkoCard {
  position: relative;
  display: flex !important;
  min-width: 350px !important;
  max-width: 350px !important;
  height: 420px !important;
  box-shadow: 2px 10px 12px rgba(0, 0, 0, 0.5);
  margin: 10px !important;
}

p {
  margin: 0;
}

.funkoImage {
  object-fit: contain;
  height: 150px;
}

.footer {
  position: absolute;
  width: 100%;
  padding: 20px;
  bottom: 5px;
  left: 0;
}

.addButton {
  width: 90px;
  height: 50px;
  border-radius: 5px;
  background-color: whitesmoke;
  outline: none;
  transition: transform 0.2s ease;
  border: none;
}

.addButton:hover {
  color: white;
  background-color: var(--purple);
  border: 2px solid var(--purple);
  transform: scale(1.05);
}
