ul {
  list-style: none;
}

.genre {
  height: 500px;
  margin-bottom: 10px;
  background-color: var(--container);
  position: relative;
  display: flex;
  align-items: center;
  overflow-x: auto;
  padding: 0 !important;
  border-radius: 5px;
  scroll-snap-type: x mandatory;
}

.anchor {
  position: absolute;
  transform: translateY(-25vh);
}
.noFunkoPops {
  color: white;
  display: flex;
  justify-content: center;
}

.infoOnFunkoSet {
  display: flex;
  justify-content: space-between;
}
