@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Poppins", sans-serif !important;
  --primary-color: #4481eb;
}
