@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Poppins", sans-serif !important;
  --primary-color: #4481eb;
  --purple: #7510f7;
  --container: rgb(57, 57, 57);
}

.loaderHolder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  position: absolute;
  margin-left: -200px;
  top: 50%;
  left: 50%;
  font-family: "ZCOOL KuaiLe", cursive;
  font-size: 40px;
  color: var(--primary);
}

.loader::after {
  content: "\2026";
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
  animation: dots steps(4, end) 2s infinite;
  width: 0px;
}

@media only screen and (max-width: 375px) {
  .loader {
    margin-left: -150px;
  }
}
