@import url("https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap");

.jumbotron {
  display: flex !important;
  flex-direction: column;
  padding: 2rem 0 !important;
  margin-top: 100px;
}

.imageRow {
  justify-content: center !important;
  margin-bottom: 2rem;
}

.displayName,
.email {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar,
.displayName,
.email {
  margin-left: 5px !important;
  color: whitesmoke;
}

.noUserFunkos {
  display: flex;
  justify-content: center;
}

.avatar {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.userRow {
  width: 100% !important;
  justify-content: space-evenly !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.funkoBrand {
  object-fit: contain;
  height: 100px;
}

.searchField {
  height: 35px;
  outline: none;
  border: none;
  margin-right: 5px;
}

.search:hover > input {
  border-bottom: 1px solid red;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.collectionInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@keyframes dots {
  to {
    width: 1.25em;
  }
}

@media only screen and (max-width: 767px) {
  .jumbotron {
    display: flex !important;
    flex-direction: column !important;
  }
  .search {
    margin-top: 50px;
  }

  .collectionInfo {
    margin-top: 5px;
  }
}
